/* Customize your main colors in :root variables */
:root {
  --main-background-color: #122c45;
  --card-background-color: #51576d;
  --card-background-lighter-color: #7a7f92;
  --main-text-color: #f7f6f4;
  --title-text-color: #fdc500;
}

body {
  background-color: var(--main-background-color);
  /*background: url('img/background.png');
  background-size: cover; */

  margin: 0;
  font-family: 'Economica', sans-serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #FFFFFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

h2,
p {
  color: var(--main-text-color);
}

h3 {
  font-weight: normal;
}

/* Candy Shop styling overrides */
.css-1wewypr {
  color: black;
}

.css-1ago99h {
  color: black;
}

h1, .candy-stat-component-title, .candy-label{
  color: var(--title-text-color);
}

.candy-modal .candy-label {
  color: #757575;
}

.candy-powered-by, .candy-powered-by-buy{
  display: none !important;
}

.candy-card, .candy-order{
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border: inherit;
  transition: all .3s ease-in-out;
}

.candy-card:hover, .candy-order:hover {
  transform: translateY(-10px);
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  transition: all .3s ease;
}

.candy-container-list{
  margin: 30px;
}

.candy-stat-component-description{
  font-size: inherit;
}
